[XSI_MR_Standard]
Release = 1.6.9
Type = "Stable"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/XSI_MR_Standard/Stable/XSI_MR_Standard.zip"
Comment = "XSI Mental Ray Template: Implement Lights Types Support."

[Softimage_MR_Standard]
Release = 1.1.1
Type = "Stable"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/Softimage_MR_Standard/Stable/Softimage_MR_Standard.zip"
Comment = "Softimage Mental Ray Template: Implement Lights Types Support."

[Maya_MR_Standard]
Release = 1.8.0
Type = "Stable"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/Maya_MR_Standard/Stable/Maya_MR_Standard.zip"
Comment = "Maya Mental Ray Template: Implement Lights Types Support."

[Maya_VRay_Standard]
Release = 1.2.6
Type = "Stable"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/Maya_VRay_Standard/Stable/Maya_VRay_Standard.zip"
Comment = "VRay For Maya Template: Implement Lights Types Support."

[Maya_VRay_Dome_Light]
Release = 1.2.6
Type = "Stable"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/Maya_VRay_Dome_Light/Stable/Maya_VRay_Dome_Light.zip"
Comment = "VRay For Maya Dome Light Template: Implement Lights Types Support."

[Maya_Turtle_Standard]
Release = 1.2.7
Type = "Stable"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/Maya_Turtle_Standard/Stable/Maya_Turtle_Standard.zip"
Comment = "Maya Turtle Template: Implement Lights Types Support."

[Maya_RfM_Standard]
Release = 1.1.6
Type = "Stable"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/Maya_RfM_Standard/Stable/Maya_RfM_Standard.zip"
Comment = "Renderman For Maya Template: Implement Shadows Types Support."

[3dsMax_MR_Standard]
Release = 1.0.8
Type = "Stable"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/3dsMax_MR_Standard/Stable/3dsMax_MR_Standard.zip"
Comment = "3dsMax Mental Ray Template: Implement Lights Types Support."

[3dsMax_Scanline_Standard]
Release = 1.0.2
Type = "Stable"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/3dsMax_Scanline_Standard/Stable/3dsMax_Scanline_Standard.zip"
Comment = "3dsMax Scanline Template: Implement Lights Types Support."

[3dsMax_VRay_Standard]
Release = 1.1.0
Type = "Stable"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/3dsMax_VRay_Standard/Stable/3dsMax_VRay_Standard.zip"
Comment = "3dsMax VRay Template: Implement Lights Types Support."
